# Python virtual environments
.venv/
venv/

# Python bytecode files
__pycache__/
*.pyc

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Database files
*.sqlite3
*.db
